body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.headerBtn{
    background-color:#0B48AB ;
    padding: 12px 40px 12px 40px;
    font-size: 16px;
    color: white;
    border-radius: 6px;
}


span{
    color: #3683FE;
}

main h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
}

main p {
    font-size: 1.2rem; 
    line-height: 1.8; 
    color: #333; 
    margin: 0.2rem 0; 
    text-align: justify; 
}

.mainBtn{
    background-color:#F8D57E ;
    padding: 12px 45px 12px 45px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}
