body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.headerBtn{
    background-color:#0B48AB ;
    padding: 12px 40px 12px 40px;
    font-size: 16px;
    color: white;
    border-radius: 6px;
}


span{
    color: #3683FE;
}

main h1{
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
}

main p {
    font-size: 1.2rem; 
    line-height: 1.8; 
    color: #333; 
    margin: 0.2rem 0; 
    text-align: justify; 
}

.mainBtn{
    background-color:#F8D57E ;
    padding: 12px 45px 12px 45px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.section-2 {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image (if needed) */
    padding: 2rem 0; /* Add some spacing around the section */
}

.section-2 img {
    max-width: 100%; /* Make the image responsive and larger */
    height: auto; /* Maintain aspect ratio */
}